* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

header {
    font-family: 'Acme', sans-serif;
    width: 100%;
    height: 60px;
    background-color: #fdfcfc;
    display: block;
}

#header_image_logo {
    background-image: url("./resources/calculador.svg");
    background-size: contain;
    margin: 10px;
    width: 40px;
    height: 40px;
    float: left;
}

header h1 {
    color: #2955FF;
    padding-top: 10px;
}

header p {
    padding: 5px;
    color: #2955FF;
}

.main_section_buttons {
    margin: 40px auto 40px auto;
    min-width: 360px;
    max-width: 70vh;
    height: 200px;
    background-color: red;
    display: flex-row;
    justify-content: center;
    align-items: center;
}

.button_geometry {
    
    width: 100px;
    height: 40px;
}

.button_discount {
    
    width: 100px;
    height: 40px;
}

.button_salary {
    
    width: 100px;
    height: 40px;
}

.button_commingsoon {
    
    width: 100px;
    height: 40px;
}